
<div id="search_div" class="bookbus">
           
    <section id="search">
       
          <table style="margin-left: auto;
          margin-right: auto;">
                <tr>

              <td>

                    <label for="src" class="db" style="left:15%; padding: 2%;">FROM</label></td>
                <td>    <input type="text" id="src" class="db" data-message="Please enter a source city" tabindex="1" autocomplete="off" style= "margin: 2%; "></td>
                  

                </tr>
            
            
                <tr>
                 <td>   <label for="dest" style="left: 21%; padding: 2%;" class="db">TO</label></td>
                  <td>  <input type="text" id="dest" class="db" data-message="Please enter a destination city" tabindex="2" autocomplete="off" style="margin: 2%;"></td>
                  
                    
               
            </tr>
           
                <tr>
                    <td><label for="onward_cal" class="db text-trans-uc" style="padding: 2%;">Journey Date</label></td>
                   <td><input type="date" id="onward_cal" name="journey date" class="db"></td>

                </tr>
              
               
                <tr> 
                    <td><label for="rjourney" style="padding: 1%;">Return Journey?</label></td>
                    <td>
                        <input type="radio" name="group" value="yes" id="yes"/> Yes
                        <input type="radio" name="group" value="no" /> No
                    </td>
                </tr>
                <tr id="show-me">
                        
                <td> <label for="onward_cal" class="db text-trans-uc" style="padding: 2%;">Return Date</label></td>
                <td>  <input type="date" id="onward_cal" name="journey date" class="db"></td>
                </tr>

            <tr>
           <td><input type="submit" value="Search Buses"></td> 
            </tr>
    </table>
    </section>
    
            </div>