<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p> Leave us a message:</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="assets/imgs/map.jpg" style="width:100%">
      </div>
      <div class="column">
        <form>
          <label for="emailid">Email</label>
          <input type="email" id="emailid" name="user_email" placeholder="Your Email Id"  required>
          <label for="subject">Subject</label>
          <textarea id="subject" name="feedback_message" placeholder="Write something.." style="height:170px" required></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
