
<a class="navbar-brand" href="#"></a>
<img src="assets/imgs/logo.gif" alt="Sorry">
<button style="float: right;" routerLink="/signup" routerLinkActive="active" name="button" class="button">Sign-up</button>
<button style="float: right;" routerLink="/login" routerLinkActive="active" name="button"  class="button" >Log-in</button>


<hr>
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent" id="menu">
  <a class="navbar-brand" href="#"></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="container">
      <ul class ="navbar-nav">
        <li class ="nav-item">
          <a routerLink="/searchbus" routerLinkActive="active">Search Bus</a>
        </li>
        <li class ="nav-item">
          <a routerLink="/aboutus" routerLinkActive="active">About us</a>
        </li>
        <li class ="nav-item">
          <a  routerLink="/termsofservices" routerLinkActive="active">Terms Of Services</a>
        </li>
        <li class ="nav-item">
          <a routerLink="/feedback" routerLinkActive="active">Feedback</a>
        </li> 
    </ul>
  </div>
  </div>
</nav>
