
<div class="footer-row">
    <div class="clearfix promotion  main-body rest1">
        <div class="w-100 pR fl footer-links">

            <div class="footer_auto" style="text-align: right;">
                <div class="img-cont">
                    <img src="#" />
                </div>
                <div style="text-align: right;">
                    <p> Bonvoyage Bus is the world&#x27;s largest online bus ticket booking service trusted by over 18 million happy customers globally.<br> redBus offers bus ticket booking through its website,iOS and Android mobile apps for all major routes.</p>
                </div>
             
                <div style="float: left">
                    <span>&#9400;</span>
                        <span> 2020  All rights reserved</span>
                </div>


            </div>      
                    </div>
    </div>
</div>

