<div class="wrapper">
    <div class="row">
        <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white" style="text-align: center;">
            <h3 style="margin-top: 20px;">Login</h3>
            
            <div class="row">
                User Email : <input class="form-control" type="email" name="user_email" >
            </div>
         
            <div class="row">
                Password : <input class="form-control" type="password" name="user_password">
            </div>
            <div class="row">

                <input type="submit" value="Log-in">
                   
              
            </div>
            
