<div class="about-section">
    <h1>About Us Page</h1>
    <p>Bonvoyage Bus is India’s largest online bus ticketing platform that has transformed bus travel in the country by bringing ease and convenience to millions of Indians who travel using buses. Founded in 2020, BonvoyageBus is part of India’s leading online travel company MakeMyTrip Limited (NASDAQ: MMYT). By providing widest choice, superior customer service, lowest prices and unmatched benefits and has served over 18 million customers. We have a global presence with operations across Indonesia, Singapore, Malaysia, Colombia and Peru apart from India.</p>
  </div>
  <h2 style="text-align:center">Our Team</h2>
<div class="row" style="text-align:center">
  <div class="column">
    <div class="card">
      <img src="" alt="Shreya Joshi" style="width:100%">
      <div class="container">
        <h2>Shreya Joshi</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
       
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Sony" style="width:100%">
      <div class="container">
        <h2>Sony Chauhan</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Aditi" style="width:100%">
      <div class="container">
        <h2>Aditi Ambre</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
       
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="" alt="Abhishek" style="width:100%">
      <div class="container">
        <h2>Abhishek Sharma</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
     
      </div>
    </div>
  </div>
</div>