<h3 style="text-align: center;">TERMS OF SERVICE</h3>
<ol> <li> <strong>BUS</strong> 
<ol> <li> <strong>ROLE OF BONVOYAGE BUSES</strong> 
<ol> <li>Bonvoyage Buses only provides a technology platform that connects intending travellers with bus operators. It doesn’t operate any bus or offer the service of transportation to the User. Bonvoyage Buses also doesn’t act as an agent of any bus operator in the process of providing the above-mentioned technology platform services.</li> 
<li>Bonvoyage Buses acts as a facilitator connecting intending customers to bus operators offering sale of tickets. Accordingly, the contract of sale of services on the Website is strictly a bipartite contract between the User and the bus operator listed on the Website.</li>
 <li>The bus ticket booking voucher which Bonvoyage Buses issues to a User is solely based on the information provided or updated by the bus operator regarding the seat availability. </li>
 <li>The amenities, services, routes, fares, schedule, bus type, seat availability and any other details pertaining to the bus service are provided by the respective bus operator and Bonvoyage Buses has no control over such information provided by the bus operator.</li>
 </ol> </li>
 <br> 
<li> <strong>LIMITATION OF LIABILITY OF BONVOYAGE BUSES</strong>
 <p>In its role as a technology platform to facilitate transactions between the bus operators and the Users, Bonvoyage Buses shall not be responsible for the operations of the bus operator including, but not limited to the following: 
<p> <ol> <li>Timely departure or arrival of the bus;</li> 
<li>The conduct of bus operator&apos;s employees, representatives or agents;</li> 
<li>The condition of the bus, seats etc. not being up to the customer&apos;s expectation or as per the description provided by the bus operator;</li>
 <li>Cancellation of the trip due to any reasons;</li> 
<li>Loss or damage of the baggage of the customer;</li>
 <li>The bus operator changing a customer&apos;s seat for any reason whatsoever;</li> 
<li>Bus operator informing a wrong boarding point for the issuance of the booking confirmation voucher, or changing such boarding point eventually with or without any notification to Bonvoyage Buses or the User;</li> 
<li>Bus operator using a separate pick-up vehicle to transport the User from the designated boarding point to the actual place of departure of the bus.</li> 
</ol> 
</li> 
<br>
<li> <strong>RESPONSIBILITIES OF THE USERS</strong> 
<ol> <li>Users are advised to call the bus operator to find out the exact boarding point, or any information which they may need for the purpose of boarding or travel in that trip.</li>
 <li>At the time of boarding the bus, Users shall furnish a copy of the ticket, and any valid identity proof like aadhar card, passport, PAN card or voter identification card or any other identity proof issued by a government authority.</li>
 <li>Users are required to reach the boarding place at least 30 minutes before the scheduled departure time.</li>
 <li>All tickets issued shall be non-transferable.</li> 
</ol> </li>
<br>
 <li> <strong>CANCELLATION OF TICKET</strong> 
<ol> <li>Cancellation of tickets can be done either through the User’s login in the Bonvoyage Buses’s website or mobile application, or by calling on the customer care number;</li> 
<li>Any cancellation is subject to such cancellation charges as mentioned on the ticket.</li>
 <li>User needs to compulsorily obtain a bus ticket at the regular fare in case a child above the age of 5 years is accompanied by them, unless otherwise a particular bus operator specifies otherwise in their terms and conditions.</li> 
</ol></li></ol></li></ol>
